<a href="https://colab.research.google.com/github/csw180/romanticpy/blob/main/mostlowtime_aday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandasql
!pip install pyupbit

In [ ]:
import pyupbit
from pandasql import sqldf
import datetime

df_1 = pyupbit.get_ohlcv('KRW-STRK', count=600, interval='minute60')
df_1.reset_index(inplace=True)
df_1.rename(columns={"index":"baseday"}, inplace = True) 
df_1['basetime'] = df_1.apply(lambda row : row.baseday.replace(hour=0,minute=0,second=0),axis=1)
sql = \
'''
select a.*
from   df_1 a
inner join
  (
    select a.basetime, min(baseday) as min_baseday
    from   df_1 a
    inner join 
        (
          select  basetime, min(low) as min_low
          from  df_1
          group by basetime
        )  b
        on   a.basetime = b.basetime
        and  a.low = b.min_low
    group by a.baseday, a.basetime
  )  b
  on   a.baseday = b.min_baseday
'''
df = sqldf(sql, locals())
df

23:00 로 나오는건 종가 저가인경우

2022-01-30 일자 데이터 확인

In [ ]:
import pyupbit
from pandasql import sqldf
import datetime

df_1 = pyupbit.get_ohlcv('KRW-STRK', count=600, interval='minute60')
df_1.reset_index(inplace=True)
df_1.rename(columns={"index":"baseday"}, inplace = True) 
df_1['basetime'] = df_1.apply(lambda row : row.baseday.replace(hour=0,minute=0,second=0),axis=1)
df_1.head(30)

In [ ]:
df['low_asd'] = df['low'] - df['low'].shift(1)
df=df.dropna()
df