Broadcating
=================

In [3]:
import pandas as pd
a1 = [[1,2,3], [4,5,6,], [7,8,9]]
df1 = pd.DataFrame(a1, columns=list("ABC"), index=list("가나다"))
df2 = df1.reindex(columns=list("BCA"), index=list("나다가")).copy()

In [2]:
df1

   A  B  C
가  1  2  3
나  4  5  6
다  7  8  9

* 값이 복사되는 broadcasting 은 series 일때만 나타난다.
* DataFrame의 add,sub.mul,div 는 index 값과 Column 값이 일치하는 요소끼리 연산이 일어난다

* ( Series 의 index =  DataFrame의 index ) 의 경우

In [4]:
df3 = df2["B"]
print(type(df3))
print(df3)

<class 'pandas.core.series.Series'>
나    5
다    8
가    2
Name: B, dtype: int64

In [34]:
df1.add(df3,axis=0)  # series의 키값이 DataFrame의 index 값일때는 axis=0 (axis 의 default 값은 1)

    A   B   C
가   3   4   5
나   9  10  11
다  15  16  17

* ( Series 의 index =  DataFrame의 column ) 의 경우

In [28]:
s = pd.Series([5,8,2], index=["A","B","C"])
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
A    5
B    8
C    2
dtype: int64

In [27]:
df1.add(s,axis=1)  # series의 키값이 DataFrame의 칼럼값일때는 axis=1

    A   B   C
가   6  10   5
나   9  13   8
다  12  16  11

* DataFrame 간의 연산은 index와 Column 이 양쪽에 동일한 위치끼리 연산이 일어난다.
* DataFrame은 index와 column이 존재하기 때문에 임의로 값복사가 일어나지는 않는다

In [9]:
df4 =df2.loc["가":,]
print(type(df4))
print(df4)

<class 'pandas.core.frame.DataFrame'>
   B  C  A
가  2  3  1

In [16]:
# df1.add(df4)
df1.add(df4,axis=0)   # DataFrame은 axis 지정해도 값복사 일어나지 않는다.

     A    B    C
가  2.0  4.0  6.0
나  NaN  NaN  NaN
다  NaN  NaN  NaN