<a href="https://colab.research.google.com/github/csw180/romanticpy/blob/main/short_tip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

def solution(arr, commands) :
  result = []
  for  comm in commands :
    l,m,k = comm
    b = a[l-1:m]
    b.sort()
    result.append(b[k-1])

  return result

a = [1, 5, 2, 6, 3, 7, 4,8,7]   
commands = [[2, 5, 3], [4, 4, 1], [1, 7, 3]]
print(solution(a,commands))

[5, 6, 3]

In [ ]:
b.sort()
print(f'b={b}')

b=[2, 3, 5, 6]

In [ ]:
print(b[2])

5

def nthb(lst,l,m,n) :
  s = lst[l-1,m]
  s.sort()
  return s[n-1]

In [ ]:
import operator
a = [('A',20,160),('B',21,150),('C',25,170),('D',30,160)]
aa = sorted(a,key=operator.itemgetter(2))
print(aa)

[('B', 21, 150), ('A', 20, 160), ('D', 30, 160), ('C', 25, 170)]

In [ ]:
sub_a = [x[1] for x in a]
sub_a.sort()
print(sub_a)
sub_b = [x[2] for x in a]
sub_b.sort()
print(sub_b)

[20, 21, 25, 30]
[150, 160, 160, 170]

In [ ]:
import operator
a = [{'name':'A','age':20,'height':160},
     {'name':'B','age':21,'height':150},
     {'name':'C','age':25,'height':170},
     {'name':'D','age':30,'height':160}]
aa = sorted(a,key=operator.itemgetter('name'))
print(aa)

[{'name': 'A', 'age': 20, 'height': 160}, {'name': 'B', 'age': 21, 'height': 150}, {'name': 'C', 'age': 25, 'height': 170}, {'name': 'D', 'age': 30, 'height': 160}]

## 전개 연산자
### 함수호출시
mysum(*a) 형태로 함수를 호출할때 리스트등을 파라메타로 넘길때 *a 형태로 넘기면 각각의 요소가 별도의 파라메타로 넘어간다.
이때 받아서 처리하는 함수는 넘어올 파라메타 갯수가 일정지 않을 수 있어서 함수정의시 def func(*a) 행태로 파라메타를 튜플로 싸서 받아와서 흔히들 처리한다.함수호출시 파라메타 갯수가 3개로 일정하다면
mysum(*a) 형태로 호출해도 def mysum(a,b,c) 로 함수를 정의해서 사용해도 된다.

In [ ]:
def paramtest(*a) :
  print(type(a))
  print(a)

a = [5,8,10]
paramtest(a)

paramtest(*a)

<class 'tuple'>
([5, 8, 10],)
<class 'tuple'>
(5, 8, 10)

# **pandas 필터링**

In [ ]:
import pandas as pd
import plotly.express as px

df = px.data.gapminder()
df.head()

       country continent  year  ...   gdpPercap  iso_alpha  iso_num
0  Afghanistan      Asia  1952  ...  779.445314        AFG        4
1  Afghanistan      Asia  1957  ...  820.853030        AFG        4
2  Afghanistan      Asia  1962  ...  853.100710        AFG        4
3  Afghanistan      Asia  1967  ...  836.197138        AFG        4
4  Afghanistan      Asia  1972  ...  739.981106        AFG        4

[5 rows x 8 columns]

In [ ]:
# country 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
is_venezuela = df['country'] == 'Venezuela'
# print(is_venezuela)
# 조건를 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다.
venezuela = df[is_venezuela]

# 결과를 출력합니다.
venezuela

In [ ]:
# continent 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
is_asia = df['continent'] == 'Asia'

# lifeExp 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
lifeExp_greather_80 = df['lifeExp'] >= 80

# 두가지 조건를 동시에 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다. (AND)
subset_df = df[is_asia & lifeExp_greather_80]

# 결과를 출력합니다.
subset_df

In [ ]:
# continent 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
not_japan = df['country'] != 'Japan'

# 조건를 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다.
subset_df = df[not_japan]

# 결과를 출력합니다.
print(subset_df.shape)
print()

subset_df.head()

In [ ]:
!pip install -U pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=def89ac4152f8928156cac58423a7376a2e9b891381cf180a566ceb10a24fbad
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
import pandas as pd
from pandasql import sqldf
from pandasql import load_meat, load_births

mysql = lambda q: sqldf(q, globals())

meat = load_meat()
births = load_births()

In [ ]:
result = mysql("SELECT * FROM meat LIMIT 5;")
print(result)
print(type(result))
print(type(meat))

                         date   beef   veal  ...  broilers  other_chicken turkey
0  1944-01-01 00:00:00.000000  751.0   85.0  ...      None           None   None
1  1944-02-01 00:00:00.000000  713.0   77.0  ...      None           None   None
2  1944-03-01 00:00:00.000000  741.0   90.0  ...      None           None   None
3  1944-04-01 00:00:00.000000  650.0   89.0  ...      None           None   None
4  1944-05-01 00:00:00.000000  681.0  106.0  ...      None           None   None

[5 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [2]:
!pip install pandasql
!pip install pyupbit

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=b6e74dc1b0b5ff13c659525850909bbee74c9db2f9d7d628b1022c1ef592ec37
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
Collecting pyupbit
  Downloading pyupbit-0.2.23-py3-none-any.whl (21 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pyupbit) (1.3.5)
Collecting websockets==9.1
  Downloading websockets-9.1-cp37-cp37m-manylinux2010_x86_64.whl (103 kB)
     |████████████████████████████████| 103 kB 5.9 MB/s
Collecting pyjwt>=2.0.0
  Downloading PyJWT-2.3.0-py3-none-any.whl (16 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pyupbit) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pyupbit) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (3.0.4)
Installing collected packages: websockets, pyjwt, pyupbit
Successfully installed pyjwt-2.3.0 pyupbit-0.2.23 websockets-9.1

In [15]:
import pyupbit
from pandasql import sqldf
import datetime

base = 9 
df_1 = pyupbit.get_ohlcv('KRW-EOS', interval="minute60")
df_1['newdate'] = df_1.index
df_1['stickdate'] = df_1.apply(lambda row : str( row.newdate + datetime.timedelta(days=-1))[:10] \
                               if 0 <= row.newdate.hour < base else str(row.newdate)[:10], axis=1)
sql =   f"""
    with a as ( 
            select stickdate, newdate, cast(strftime('%H',newdate) as int) as hour, open, high, low, close, volume,
                row_number() over(partition by stickdate order by newdate desc) as idx
            from df_1
    )
    select  a.stickdate as _date
        ,max(case when a.hour = {base} then a.open else null end) as open
        ,max(case when idx = 1 then a.close else null end) as close
        ,min(a.low) as low
        ,max(a.high) as high
        ,sum(a.volume) as volume
    from  a
    group by a.stickdate
    order by 1 desc
    """
df = sqldf(sql, locals())
# df=df.loc[0:7]
df.set_index('_date',inplace =True)
df

PandaSQLException: ignored