```
https://docs.xlwings.org/en/stable/
```

In [2]:
!pip install xlwings
!xlwings addin install

Requirement already satisfied: xlwings in c:\python311\lib\site-packages (0.29.0)
Requirement already satisfied: pywin32>=224 in c:\users\swkao\appdata\roaming\python\python311\site-packages (from xlwings) (305)
xlwings version: 0.29.0
Successfully installed the xlwings add-in!

In [11]:
!xlwings addin remove

xlwings version: 0.29.0
Successfully removed the add-in!

In [3]:
import xlwings as xw

In [45]:
app = xw.App(visible=False)
wb = xw.Book("E12EXAMPLE.xlsx")
sheet1 = wb.sheets['df']
name = sheet1.range('A2').value
print(name)

홍길동

* xlwings 을 이용하여 시트의 일부분을 pandas dataFrame으로 만들수 있음

In [46]:
import pandas as pd
df = sheet1['A1'].expand().options(pd.DataFrame).value
df = df.reset_index()
df.head()

    이름   강의           전화번호
0  홍길동  한국사  010-6138-6625
1  배성일  일본사  010-2901-3320
2  김민석  중국사  010-5132-3850
3  류승국  영국사  010-5328-6048
4  서재경  한국사  010-4269-7439

* sha256 암호화

In [13]:
import hashlib

In [16]:
name = sheet1.range('A2').value.encode('utf-8')
hasher = hashlib.new('sha256')
hasher.update(name)
enc = hasher.hexdigest()
sheet1.range('A2').value = enc